@{
	Layout = "_BlankLayout";
	ViewData["Title"] = "Preview";
}
@model List<BL.Models.Administration.ReportsDTO>


<div class="outer_main">
	<main class="">

		<div class="report">

			@for (int i = 0; i < Model.Count; i++)
			{
				@if (Model[i].ReportImagebase64 == "")
				{
					<label>Image Not found</label>
				}
				else
				{
					<div class="item @(i==0 ? "active":string.Empty)">
						<img src="data:image/png;base64,@Model[i].ReportImagebase64" />
					</div>
				}
			}

		</div>

	</main>
</div>
