@{
	Layout = "_BlankLayout";
	ViewData["Title"] = "Preview";
}


@model List<Dictionary<string, object>>
<section class="content">
	<div class="container-fluid">
		<div class="card card-solid">
			<div class="card-body pb-0">
				<div class="row">
					<div class="col-10">
					</div>
				</div>
				<div class="row">
					<div class="col-12 mb-10">
						<table id="ReportsViewTable" class="table table-bordered table-striped dataTable dtr-inline">
							<thead>
								<tr>
									@if (Model != null && Model.Any())
									{
										var firstRow = Model.First();
										foreach (var column in firstRow.Keys)
										{
											<th>@column</th>
										}
									}
								</tr>
							</thead>
							<tbody>
								@if (Model != null && Model.Any())
								{
									@foreach (var row in Model)
									{
										<tr>
											@foreach (var cell in row.Values)
											{
												<td>@cell</td>
											}
										</tr>
									}
								}
								else
								{
									<tr><td colspan="100%" style="text-align:center">No data available</td></tr>
								}
							</tbody>
						</table>
					</div>
					&nbsp;&nbsp;&nbsp;&nbsp;
				</div>
				<div class="row"><p>@ViewBag.Message</p></div>
			</div>
		</div>
	</div>
</section>

@section scripts
{
	<script>
		$(function () {
			initializeDataGridForViews('ReportsViewTable', true);
		});
	</script>

}