<form id="frnZoneManagementCreate">
    <input type="hidden" id="hdnId" value="" />
    <div class="row">
        <div class="col-12 form-group">
            <label>Type<span class="red-required">*</span></label>
            <input type="text" id="txtType" class="form-control" placeholder="Type" required />
        </div>
        <div class="col-12 form-group">
            <label>Zone<span class="red-required">*</span></label>
            <input type="text" id="txtZone" class="form-control" placeholder="Zone" required />
        </div>
        <div class="col-12 form-group">
            <label>Folder<span class="red-required">*</span></label>
            <input type="text" id="txtFolder" class="form-control" placeholder="Folder" required />
        </div>
        <div class="col-12 form-group">
            <label>External Reference<span class="red-required">*</span></label>
            <input type="text" id="txtExternalReference" class="form-control" placeholder="External Reference" required />
        </div>
        <div class="col-12">
            <input type="hidden" id="hdnMapdata" required />
        </div>
        <div class="col-12 form-group">
            <label for="tree" class="mb-2 label-required">Zone Matrix </label>
            <div id="ZoneManagementTreeDropdown" class="dropdown dropdown-tree"></div>
        </div>
        <div class="col-12 mb-3">
            <button type="button" class="btn btn-primary" onclick="SaveZoneManagement();">Save</button>
            <button type="button" class="btn btn-default" onclick="CloseZoneManagement();">Close</button>
        </div>
    </div>
</form>
