@{
	ViewData["Title"] = "All System Icon";
}
@model List<BL.Models.Administration.SystemIconDTO>



<!-- Content Header (Page header) -->
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0">All System Icon</h1>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a asp-area="" asp-controller="Dashboard" asp-action="index">Home</a></li>
					<li class="breadcrumb-item active">All System Icon</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
	<div class="container-fluid">
		<div class="card card-solid">
			<div class="card-body pb-0">
				<div class="row">
					<div class="col-10">
					</div>
				</div>
				<div class="row">
					@if (Model.Count > 0)
					{
						@for (int i = 0; i < Model.Count; i++)
						{
							<div class="col-12 col-sm-4 col-md-2 d-flex align-items-stretch flex-column">
								<div class="card bg-light d-flex flex-fill" title="@Model[i].Name">
									<div class="card-header text-muted border-bottom-0">
										@Model[i].Name
									</div>
									<div class="card-body pt-0">
										<div class="row">
											<div class="col-5 text-center">
												<img src="data:image/png;base64,@Model[i].SystemIconImagebase64" alt="@Model[i].Name" style="width: 75px; height: 75px;" />
											</div>
										</div>
									</div>
								</div>
							</div>
						}
					}
					else
					{
						<div class="col-12 d-flex align-items-stretch flex-column">
							<div class="card bg-light d-flex flex-fill">
								<div class="text-center">
									<label>Data not found.</label>
								</div>

							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</section>