@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <input type="hidden" value="" id="hdn-userId" />
                <h6 class="ms-4 mb-0">Please enter a new password and confirm</h6>
                <div class="input-group">
                    <input type="password" id="NewPassword" class="form-control" placeholder="Enter new password">
                    <div class="input-group-append">
                        <span class="input-group-text" id="" role="button" onclick="togglePasswordVisibility('NewPassword');">
                            <i class="fas fa-eye" id="eyeIcon"></i>
                        </span>
                    </div>
                </div>
                <small class="password-rules">
                    Please ensure that your password contains:
                    <ul>
                        <li>A minimum of 8 alphanumeric characters</li>
                        <li>At least 1 uppercase character</li>
                        <li>At least 1 lowercase character</li>
                        <li>At least 1 special character (e.g., !, #, $, %)</li>
                    </ul>
                </small>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <div class="input-group">
                        <input type="password" id="ConfirmPassword" class="form-control" placeholder="Confirm your password">
                        <div class="input-group-append">
                            <span class="input-group-text" id="" role="button" onclick="togglePasswordVisibility('ConfirmPassword');">
                                <i class="fas fa-eye" id="eyeConfirmIcon"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="SaveChangePassword" type="button" class="btn btn-success" onclick="ChangeUserPassword()">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>

